@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200;300;400&family=Manrope&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.09rem;
    color: #554348;
}

h1 {
    margin: 3rem;
}

#content {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#calcBody {
    border: 0.2rem solid #554348;
    border-radius: 1.1rem;
    width: 27rem;
    height: 40rem;
    background-color: #def1f1;

    padding: 2rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#screen {
    border: 0.15rem solid black;
    border-radius: 1rem;
    height: 6rem;
    background-color: #ffffff;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#equation {
    padding: 0.8rem 2rem 0.5rem 2rem;
    font-size: 1rem;
    color: rgb(145, 142, 142)
}

#num {
    padding: 0 2rem 0.75rem 1.5rem;
    font-size: 2rem;
    max-width: 90%;

    letter-spacing: 0.05rem;
}

#keys {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.row {
    display: flex;
    justify-content: space-evenly;
    gap: 0.6rem;
}

.button {
    padding: 1.5rem;
    flex: 1 1 100%;
    font-size: 1.7rem;
    background-color: #accacf;
    border-radius: 0.75rem;
    border-width: 0.15rem;
}

.button:hover {
    background-color: #ceeeee;
}

.button:active {
    background-color: #8C9A9E;
}

.operator {
    background-color: #a3c4e4;
}

.operator:hover {
    background-color: #b7d7f1;
}

.operator:active {
    background-color: #91aeca;
}

.topButton {
    padding: 1.75rem 1rem;
    flex: 1;
    background-color: #8C9A9E;
    border-radius: 0.75rem;
    border-width: 0.15rem;
    font-size: 1.2rem;
    color: #ffffff;
}

.topButton:hover {
    background-color: #83b2bd;
}

.topButton:active {
    background-color: #8C9A9E;
}

.button, .topButton {
    cursor: pointer;
}




